#EXPRESS

DOMAIN_EXPRESS_STAGING=staging.damienmeur.com
DOMAIN_EXPRESS_PROD=damienmeur.com

#DIRECTUS - STAGING

CONTAINER_DIRECTUS_NAME_STAGING=directus-staging
CONTAINER_DB_NAME_STAGING=mariadb
MYSQL_DATABASE_STAGING=directus-staging
MYSQL_USER_STAGING=admin
MYSQL_PASSWORD_STAGING=##PASSWORD##
DOMAIN_DIRECTUS_STAGING=staging.directus.damienmeur.com
AUTH_SECRET_DIRECTUS_PROD=XXX
AUTH_PUBLIC_DIRECTUS_PROD=YYY

#DIRECTUS - PROD

CONTAINER_DIRECTUS_NAME_PROD=directus-prod
CONTAINER_DB_NAME_PROD=mariadb
MYSQL_DATABASE_PROD=directus-prod
MYSQL_USER_PROD=admin
MYSQL_PASSWORD_PROD=##PASSWORD##
DOMAIN_DIRECTUS_PROD=directus.damienmeur.com
AUTH_SECRET_DIRECTUS_STAGING=XXX
AUTH_PUBLIC_DIRECTUS_STAGING=YYY

#DATABASE

CONTAINER_DB_NAME_MARIADB=mariadb
CONTAINER_ADMIN_NAME_MARIADB=db-admin
MYSQL_ROOT_PASSWORD_MARIADB=##ROOT_PASSWORD##
MYSQL_DATABASE_MARIADB=default
MYSQL_USER_MARIADB=admin
MYSQL_PASSWORD_MARIADB=##PASSWORD##
DOMAIN_ADMINER=adminer.damienmeur.com
#AFTER CONTAINER CREATION, you will need to give root access to the admin user:
#Connect to the maradb container
# sudo docker ps
# sudo docker exec -ti containerId sh
# mysql -u root -p
# GRANT ALL PRIVILEGES ON `%`.* TO 'admin'@'%' IDENTIFIED BY 'your_password' WITH GRANT OPTION;
# flush PRIVILEGES;
# exit

#TRAEFIK

#https://buzut.net/certbot-challenge-dns-ovh-wildcard/
OVH_ENDPOINT=XXX
OVH_APPLICATION_KEY=XXX
OVH_APPLICATION_SECRET=XXX
OVH_CONSUMER_KEY=XXX
DOMAIN_TRAEFIK=traefik.damienmeur.com

# On server: touch traefik/letsencrypt/acme.json && chmod 0600 traefik/letsencrypt/acme.json

#BUGGY

DOMAIN_BUGGY=scripts.damienmeur.com

#CADVISOR

DOMAIN_BUGGY=cadvisor.damienmeur.com