.loader {
    grid-column: col-start / full-end;
    padding: 8rem;
    margin: auto;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }
    &--7 {
        grid-column: col-start 7 / full-end;
    }
    &__spinner {
        height: 3rem;
        justify-self: center;
        justify-content: center;
        justify-items: center;

        display: grid;
        align-content: center;
    }
}
@keyframes fadeInImg{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
}
.img-loaded{
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}


